@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap'); 
:root
{
    --color-barra-lateral :#021E39;
    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);
    --color-menu-hover:rgb(238,238,238);
    --color-menu-hover-text:rgb(0,0,0);
    --color-boton-texto:rgb(255, 255, 255);
    --color-linea:rgb(255 183 3);
    --color-switch-base:rgb(143, 146, 155);
    --color-switch-circulo:rgb(3, 3, 3);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
    --color-body:white;
    --color-moon:black;
    --color-contenedor: #021E39;
}

/**/




/*///////////------PARA OCULTAR BARRA-----------/////////////*/


.barra-pacientes.desactiva {
  background-color: var(--color-linea);
  position: fixed;
  top: 55px;
  left: 18.7rem; 
  bottom: 0;
  width: 2rem;           /* ancho inicial de la barra */
  justify-content: flex-start; /* deja scroll libre */
  transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
  
  display: flex;          /* necesario para centrar el botón */
  align-items: center;    /* centrar verticalmente */
  justify-content: center;/* centrar horizontalmente */
}

.ocultar-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.ocultar-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.2);
}


.botonMenu {
  background-color: transparent; /* transparente para no tapar el fondo */
  color: var(--color-barra-lateral);                  /* color del texto o icono */
  border: none;                  /* sin borde */ 
  font-weight: bold;             /* más visible */
  cursor: pointer;               /* cambia el cursor al pasar el mouse */
  transition: transform 0.2s ease, background-color 0.2s ease; /* animación al pasar mouse */
  border-radius: 5px; /* esquinas redondeadas */
}

/* Efecto hover */
.botonMenu:hover {
  background-color: rgba(255, 255, 255, 0.101); /* ligero resaltado al pasar mouse */
  transform: scale(1.1);                       /* agrandar un poco */
}

.barra
{
  background-color:var(--color-linea);
   position: fixed;
    top: 55px;
    bottom: 0;          /* llega hasta el fondo de la pantalla */
    width: 300px;
    padding: 0;
    justify-content: flex-start; /* mejor que space-between si habrá scroll */
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
     
    display: flex;          /* necesario para centrar el botón */
    align-items: center;    /* centrar verticalmente */
    justify-content: center
  }

.desplegar-barra
{
  background-color: red;
}

