    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
    --color-barra-lateral: #021E39;
    --color-texto: rgb(0, 0, 0);
    --color-texto-menu: rgb(134, 136, 144);
    --color-menu-hover: rgb(255 183 3);
    --color-menu-hover-text: rgb(0, 0, 0);
    --color-boton-texto: rgb(255, 255, 255);
    --color-linea: rgb(255 183 3);
    --color-switch-base: rgb(143, 146, 155);
    --color-switch-circulo: rgb(3, 3, 3);
    --color-scroll: rgb(192, 192, 192);
    --color-scroll-hover: rgb(134, 134, 134);
    --color-body: white;
    --color-moon: black;
    --color-contenedor: #021E39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
    
    body {
      font-family: Arial, sans-serif;
      background: #f9fafb;
    }

    .menu-container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 30px;
      padding: 40px;

    }

    /* Caja de cada sección */
    .menu-section {
      background: #fff;
      border: 2px solid var(--color-contenedor);
      border-radius: 6px;
      overflow: hidden;
    }

    /* Título de la sección */
    .menu-section h2 {
    text-align: center;
      margin: 0;
      padding: 10px;
      background:var(--color-barra-lateral); /* Azul */
      color: #fff;
      font-size: 16px;
      border-bottom: 4px solid var(--color-linea);
    }

    /* Contenedor de opciones */
    .menu-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 20px 40px;
      
    }

    /* Opción individual */
    .menu-item {
      display: flex;
      align-items: center;
      background: #fff;
      border: 1px solid #cccccc;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;
      height: 6.5rem;
      text-decoration: none;
      color: inherit;
    }

    .menu-item:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }

    /* Ícono lado izquierdo */
    .menu-icon {
      background:var(--color-contenedor); /* Azul oscuro */
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      height: 6.5rem;
    }

    .menu-icon img {
      width: 35px;
      height: 35px;
    }

    /* Línea amarilla divisoria */
    .menu-divider {
      width: 4px;
      background: #ffd700; /* Amarillo */
    }

    /* Texto de la opción */
    .menu-text {
      flex: 1;
      padding: 0 10px;
      font-size: 17px;
      font-weight: bold;
      color: #222;
    }

    /* Ajuste para secciones pequeñas (lado derecho) */
    .small-section .menu-items {
      grid-template-columns: 1fr;
     
    }